/*Document Info*/

body{
    display: grid;
    margin-left: 75px;
    margin-top: 0px;
    margin-right: 75px;
    columns: 1;
    column-width: 100%;
    grid-row: auto auto auto auto auto;
    row-gap: 50px;
    margin-bottom: 50px;
    grid-template-areas: 
        "header"
        "skills"
        "about"
        "projects"
        "footer"
        ;  
}
body{font-family: 'Roboto', sans-serif; 
    font-family: 'Roboto Mono', monospace;
    font-family: 'Schoolbell', cursive;}
    h1{font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 160px;
        line-height: 187px;}
    h2{font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 60px;}
    h3{font-family: Roboto Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;}
    h4{font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;}
    p1{font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;}
    p2{font-family: Roboto Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;}
    p3{font-family: Roboto Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;}
    p4{font-family: Schoolbell;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: white;}

/*Header*/
.header{grid-area: header;
    }
#fixedlogo{position: fixed;
    left: 10px;
    top: 26px;
    width: 60px;}

#personalInfo{
    display: inline-block;
    object-position: right;
    text-align: right;
}

.headerFlexContainer{
    display: flex;
}
.headerFlexChild{
    margin-top: 50px;
    width: 48%;
    display: inline-block;
}
#profile{
    vertical-align: top;
    padding-top: 100px;
}

#location{
    width: 223px;
    height: 55px;
    right: 0px;
    top: 50px;
    text-align: right;
    z-index: 100;}
    
#rectangle{
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 100px;
    height: 900px;
    width: 390px;
    background: #FF6F61;}

/*Skills*/
.skills{
    grid-area: skills;
    display:flex;
    flex-direction: column;
}
    #skillsrow1{

        text-align: left;
    }
    #skillsrow2{
        text-align: center;
    }
    #skillsrow3{
        text-align: center;
        color: white;
        line-height: 35px;    
    }
    .pill{
        border-radius: 20px; 
        width: auto;
        height: auto; 
        padding: 5px 15px 5px 15px; 
        margin-right: 6px;
        margin-bottom:6px;
    }
    #sketching{ 
        background-color: #C74375; 
    }
    #storyboarding{
        background-color: #FF6F61; 
    }
    #UIdesign{
        background-color: #92A8D1; 
    }
    #RedLining{
        background-color: #F0C05A; 
    }
    #UserTesting{
        background-color: #64A1A4; 
    }
    #UserInterviews{
        background-color: #C1C5E0; 
    }
    #HTML{
        background-color: #368E76; 
    }
    #CSS{
        background-color: #577048; 
    }
    #JavaScript{
        background-color: #DE413A; 
    }
    #ABTesting{
        background-color: #5A5B9F; 
    }
    #Branding{
        background-color: #D94F70; 
    }
    #GitHub{
        background-color: #233B5D; 
    }
    #BootStrap{
        background-color: #C26225; 
    }
    #Accessability{
        background-color: #9B9740; 
    }
    #Surveys{
        background-color: #7BC4C4; 
    }
    #CardSorting{
        background-color: #644D43; 
    }
    #Prototyping{
        background-color: #558583; 
    }
    #Wireframing{
        background-color: #F0C05A; 
    }
    #Typography{
        background-color: #F7CAC9; 
    }
    #AdobeXD{
        background-color: #5B2C36; 
    }
    #Iconography{
        background-color: #B6BF71; 
    }
    #ResponsiveDesign{
        background-color: #46748E; 
    }
    #PresentingWork{
        background-color: #F5BF4D; 
    }
    #EmpathyMap{
        background-color: #E65F42; 
    }
    #AffinityDiagram{
        background-color: #64A1A4; 
    }
    #Figma{
        background-color: #B163A3; 
    }
    #Invision{
        background-color: #F0C05A; 
    }

/*About*/
.about{}
    .clear{
        clear: both;
    }
    #heading2{text-align: left;
}
    .flexContainer{display: flex;
        flex-direction: row;
    }
    .swatch{
        width: 100%;
        height: 362px;  
    }
    .flexChild{
        width: 33%;
    }
    #earlyYears{
        margin-right: 6px;
    }
        #rectangle1{
            background: #B6BF71;}
    #uiuxDesigner{
        margin-right: 6px;
    }
        #rectangle2{
            background: #D8CDDD;}
    #inspiration{}
        #rectangle3{
            background: #FF6F61;}

/*Projects*/
.projects{}
    #heading3{text-align: left;
        }
    #departmentOfTheInterior{
        margin-right: 6px;
    }
        #rectangle4{
            background: #F34C1B;}
    #openArmsOfMN{
        margin-right: 6px;
    }
        #rectangle5{
            background: #FBA91E;}
    #neutralMobileApp{}
        #rectangle6{
            background: #C9D8DF;}

    

/*Footer*/
.footer{grid-area: footer;
    text-align: right;}


@media only screen and (max-width: 1250px){
        body{
            margin-top: 0px;
            margin-left: 20px;
            margin-right: 20px;
            row-gap: 20px;
        }
        .headerFlexContainer{ 
            flex-direction: column-reverse;
            justify-content: center;
        }
        .headerFlexChild{
            margin-top: 10px;
            width: 100%;
        }
        #location{
            position: absolute;
            width: 223px;
            height: 55px;
            right: 20px;
            top: 50px;
            text-align: right;}
        #personalInfo{
            text-align: center;}
        #rectangle{
            display: none;
        }
        #profile{
            display: flex;
            justify-content: center;
            align-content: center;
            background-color: #FF6F61;
            padding-top: 0px;
        }
        #profilephotoelement{
        }

    
    }
@media only screen and (max-width: 800px){
    .flexContainer{
        flex-direction: column;
    }
    .flexChild{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px){
    body{
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
        flex-direction: column;}
    
    .pill{
        transform: scale(.8);
    }
    #profilephotoelement{
        width: 480px;
    }
    h1{
        font-size: 100px;
        line-height: 110px;
    }

    .footer{
        align-content: center;
        text-align: center;
    }
}
@media only screen and (max-width: 510px){
    #profilephotoelement{
        width: 300px;}
    h1{
        font-size: 80px;
        line-height: 100px;
        }
    #profile{
        padding: 0;
        margin: 0px;
    }
}
